<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-brand">SoundShare</p>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'new-playlist'}}Create Playlist{{/link-to}}</li>
        <li>{{#link-to 'songs'}}View Suggestions{{/link-to}}</li>
        <li>{{#link-to 'new-song'}}Suggest a song{{/link-to}}</li>
        {{#if auth.authed}}
          <li>Your Recommendations</li>
        {{/if}}
      </ul>
      <div class="pull-right">
        <ul class="nav navbar-nav">
          {{#if auth.authed}}
            <li>Welcome {{auth.current_user.soundcloud_username}}</li>
            <button {{action 'logOut'}}>Sign Out</button>
          {{else}}
            <li>{{#link-to 'login'}}Login{{/link-to}}</li>
            <li>{{#link-to 'signup'}}Sign Up{{/link-to}}</li>
            <li class="connect"><span><img src="http://connect.soundcloud.com/2/btn-connect-m.png" {{action "logIn"}}></span></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
