<h3>Songs in <strong>{{model.name}}</strong> include:</h3>

{{#each song in model.songs}}
  <li>{{#link-to 'song' song.id}}{{song.title}}{{/link-to}} - {{song.recommended_on}}</li>
{{/each}}

{{outlet}}

<!-- {{#each playlist in model}}
  <li>{{playlist.name}}</li>
{{/each}} -->
