<h3>Hello {{model.username}}</h3>

<p>E-Mail address : {{model.email}}</p>
<p>You created your account on : {{model.created_on}}</p>
<p>You authorized SoundShare to access SoundCloud? <strong>{{model.verified}}</strong></p>
{{#if model.verified}}
  <p>SoundCloud Username : {{model.soundcloud_username}}</p>
{{else}}
  <p><span><img src="http://connect.soundcloud.com/2/btn-connect-m.png" {{action "logIn"}}></span> to SoundCloud?</p>
{{/if}}
